name: 'Deploy: Client: Github Pages'

on:
  push:
    branches: ['master']
    paths:
      - 'workspaces/lib/**'
      - 'workspaces/client/**'
      - '.github/workflows/deploy-client.yml'

jobs:
  publish:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set Env ${{ github.repository }}
        run: |
          HOMEPAGE=${GITHUB_REPOSITORY#*/}
          echo "Found: ${HOMEPAGE}"
          echo "HOMEPAGE=${HOMEPAGE}" >> $GITHUB_ENV

      - name: package.json set ${{ env.HOMEPAGE }} as homepage for gh-pages
        uses: jaywcjlove/github-action-package@main
        with:
          path: 'workspaces/client/package.json'
          data: |
            {
              "homepage": "/${{ env.HOMEPAGE }}"
            }

      - name: Build
        run: |
          yarn install
          yarn workspace client build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./workspaces/client/build
