name: 'Deploy: Google Cloud'
on:
  push:
    paths:
      - 'workspaces/**'
      - '.github/workflows/deploy-google.yml'

jobs:
  changes:
    runs-on: 'ubuntu-latest'
    outputs:
      client: ${{ steps.filter.outputs.client }}
      server: ${{ steps.filter.outputs.server }}
      killswitch: ${{ steps.filter.outputs.killswitch }}
    steps:
      - uses: 'actions/checkout@v3'
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            client:
              - 'workspaces/client/**'
            server:
              - 'workspaces/server/**'
            killswitch:
              - 'workspaces/function-gkill/**'

  function_killswitch_deploy:
    needs: [changes]
    if: ${{ needs.changes.outputs.killswitch == 'true' && github.ref == 'refs/heads/master' }}
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: 'actions/checkout@v3'

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/364055912546/locations/global/workloadIdentityPools/default-pool/providers/github-provider'
          service_account: 'github@mstream-368503.iam.gserviceaccount.com'

      - name: 'install'
        run: yarn install --immutable

      - name: 'build'
        run: yarn workspace gkill build

      - name: 'deploy'
        uses: 'google-github-actions/deploy-cloud-functions@v1'
        with:
          name: 'function-killswitch'
          runtime: 'nodejs16'
          entry_point: 'main'
          source_dir: 'workspaces/function-gkill/dist'
          event_trigger_type: google.pubsub.topic.publish
          event_trigger_resource: projects/mstream-368503/topics/budget

  client_bucket_deploy:
    needs: [changes]
    if: ${{ needs.changes.outputs.client == 'true' }}
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: 'actions/checkout@v3'

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/364055912546/locations/global/workloadIdentityPools/default-pool/providers/github-provider'
          service_account: 'github@mstream-368503.iam.gserviceaccount.com'

      - name: 'install'
        run: yarn install --immutable

      - name: 'build'
        run: |
          yarn workspace client build

      - name: 'upload-folder'
        uses: 'google-github-actions/upload-cloud-storage@v1'
        with:
          path: 'workspaces/client/build'
          destination: 'mtoon'
          parent: false

  server_deploys:
    needs: [changes]
    if: ${{ needs.changes.outputs.server == 'true' }}
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: 'actions/checkout@v3'

      - uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: 'auth'
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'projects/364055912546/locations/global/workloadIdentityPools/default-pool/providers/github-provider'
          service_account: 'github@mstream-368503.iam.gserviceaccount.com'

      - id: 'appengine'
        uses: 'google-github-actions/deploy-appengine@v1'
        with:
          working_directory: 'workspaces/server'
          secrets: |
            DB_URL=DB_URL:latest

      - name: 'install'
        run: yarn install --immutable

      - name: 'build'
        run: |
          yarn workspace server build

      - id: 'cloudrun'
        uses: 'google-github-actions/deploy-cloudrun@v1'
        with:
          service: 'hello'
          source: 'workspaces/server'
          secrets: |
            DB_URL=DB_URL:latest
